.Footer{
margin-top: -195px;
margin-left: 0px;
width: 1440px;
height: 389px;
background: transparent url('img/Group 12223.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Fcontent1{
margin-top: 20.91px;
margin-left: 148px;
width: 159px;
height: 21px;
text-align: left;
font-family: 'Gilroy ☞',sans-serif;
font: normal normal medium 18px/30px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.Fcontent2{
margin-top: 41.01px;
margin-left: 150px;
width: 84px;
height: 21px;
text-align: left;
font-family: ' Gilroy ☞', sans-serif;
font: normal normal medium 18px/29px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.Fcontent3{
margin-top: 29.34px;
margin-left: 148px;
width: 138px;
height: 21px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal medium 18px/29px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.Fcontent4{
margin-top: -221.81px;
margin-left: 404px;
width: 182px;
height: 24px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal 600 20px/24px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent5{
margin-top: 41.91px;
margin-left: 406px;
width: 196px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent6{
margin-top: 26.34px;
margin-left: 406px;
width: 218px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent7{
margin-top: 26.34px;
margin-left: 406px;
width: 108px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent8{
margin-top: 26.34px;
margin-left: 406px;
width: 187px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent9{
margin-top: 26.34px;
margin-left: 406px;
width: 183px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent10{
margin-top: -244.98px;
margin-left: 657px;
width: 226px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent11{
margin-top: 26.69px;
margin-left: 657px;
width: 229px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent12{
margin-top: 25.99px;
margin-left: 657px;
width: 190px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent13{
margin-top: 26.34px;
margin-left: 657px;
width: 213px;
height: 24px;
text-align: left;
font: normal normal normal 17px/29px Poppins, sans-serif;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.Fcontent14{
margin-top: -252.54px;
margin-left: 958px;
width: 90px;
height: 24px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal 600 20px/24px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent15{
margin-top: 44.26px;
margin-left: 959px;
width: 70px;
height: 20px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal medium 17px/29px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent16{
margin-top: 33.5px;
margin-left: 959px;
width: 64px;
height: 20px;
text-align: left;
font-family: ' Gilroy ☞', sans-serif;
font: normal normal medium 17px/29px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent17{
margin-top: 34.21px;
margin-left: 958px;
width: 76px;
height: 20px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal medium 17px/29px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent18{
margin-top: 34.21px;
margin-left: 959px;
width: 64px;
height: 20px;
text-align: left;
font-family: ' Gilroy ☞', sans-serif;
font: normal normal medium 17px/29px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fcontent19{
margin-top: -274.495px;
margin-left: 1175px;
width: 89px;
height: 24px;
text-align: left;
font-family: ' Gilroy ☞', sans-serif;
font: normal normal 600 20px/24px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fimage1{
margin-top: 42.5px;
margin-left: 1176px;
width: 25px;
height: 25px;
background: transparent url('img/Mask Group 111.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Fcontent20{
margin-top: -36.5px;
margin-left: 1215px;
width: 39px;
height: 20px;
text-align: left;
font-family: ' Gilroy ☞', sans-serif;
font: normal normal medium 17px/20px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fimage2{
margin-top: 33.15px;
margin-left: 1175px;
width: 25px;
height: 25px;
background: transparent url('img/Mask Group 112.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Fcontent21{
margin-top: -36.5px;
margin-left: 1215px;
width: 95px;
height: 20px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal medium 17px/20px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fimage3{
margin-top: 33.15px;
margin-left: 1175px;
width: 25px;
height: 25px;
background: transparent url('img/Mask Group 113.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Fcontent22{
margin-top: -36.5px;
margin-left: 1214px;
width: 31px;
height: 20px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal medium 17px/20px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Fimage4{
margin-top: 33.15px;
margin-left: 1175px;
width: 25px;
height: 25px;
transform: matrix(-1, 0, 0, -1, 0, 0);
background: transparent url('img/Mask Group 114.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Fcontent23{
margin-top: -36.15px;
margin-left: 1214px;
width: 32px;
height: 20px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal medium 17px/20px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

.Fcontent24{
margin-top: 120.14px;
margin-left: 148px;
width: 229px;
height: 24px;
text-align: left;
font-family: 'Gilroy ☞', sans-serif;
font: normal normal 600 20px/24px ;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.Pfooter2{
margin-top: 23.9px;
margin-left: 977px;
width: 101px;
height: 22px;
text-align: left;
font: normal normal 600 18px/22px Montserrat, sans-serif;
letter-spacing: 0.09px;
color: #FF4591;
opacity: 1;
}
.Pfooter3{
margin-top: 51.38px;
margin-left: 125px;
width: 101px;
height: 22px;
text-align: left;
font: normal normal 600 18px/22px Montserrat, sans-serif;
letter-spacing: 0.09px;
color: #FF4591;
opacity: 1;
}

.Pfooter4{
margin-top: 52.54px;
margin-left: 551px;
width: 101px;
height: 22px;
text-align: left;
font: normal normal 600 18px/22px Montserrat, sans-serif;
letter-spacing: 0.09px;
color: #FF4591;
opacity: 1;
}

.Pfooter5{
margin-top: 26.24px;
margin-left: 977px;
width: 101px;
height: 22px;
text-align: left;
font: normal normal 600 18px/22px Montserrat, sans-serif;
letter-spacing: 0.09px;
color: #FF4591;
opacity: 1;
}
