.Group12225{
    /* Layout Properties */
margin-top: -78.66px;
margin-left: 83px;
width: 1274px;
height: 56px;
/* UI Properties */
background: transparent url('img/Group 12225.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.VideoImg{
margin-top: -190.6px;
margin-left: 0px;
width: 596px;
height: 400px;
background: transparent url('img/Group 12735.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Group12842{
    /* Layout Properties */
margin-top: 187.29px;
margin-left: 50px;
width: 1340px;
height: 346px;
/* UI Properties */
background: transparent url('img/Group 12842.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.diamond{
    margin-top: 24.95px;
    margin-left: 25.5px;
    /* Layout Properties */
    width: 78px;
    height: 65px;
/* UI Properties */
    background: transparent url('img/diamond (2).png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.book{
    /* Layout Properties */
    margin-top: 50px;
    margin-left: 25.5px;
    /* Layout Properties */
    width: 90px;
    height: 65px;
/* UI Properties */
    background: transparent url('img/book (1).svg') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Group13089{
margin-top: 24.95px;
margin-left: 25.5px;
width: 64px;
height: 65px;
background: transparent url('img/Group 13089.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.table2{
margin-top: 0px;
margin-left: 308px;
width: 64px;
height: 65px;
background: transparent url('img/surface1.png') 0% 0% no-repeat padding-box;
opacity: 1;
border: 1px solid black;
}

.surface1{
margin-top: 25.4px;
margin-left: 25.5px;
width: 64px;
height: 65px;
background: transparent url('img/surface1.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.High_efficacy{
    /* Layout Properties */
margin-top: 25.28px;
margin-left: 25.5px;
width: 66px;
height: 65px;
/* UI Properties */
background: transparent url('img/High_efficacy.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}
.rectangle{
margin-top: 80.7px;
margin-left: 0px;
width: 1440px;
height: 1034px;
background: transparent url('img/Rectangle 1600.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1615{
    /* Layout Properties */
margin-top: 55.08px;
margin-left: 100px;
width: 600px;
height: 117px;
/* UI Properties */
background: transparent url('img/Rectangle 1615.png') 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
}

.html2{
    /* Layout Properties */
margin-top: -91.64px;
margin-left: 122.04px;
width: 39px;
height: 50px;
/* UI Properties */
background: transparent url('img/html (2).png') 0% 0% no-repeat padding-box;
opacity: 1;
}.Rectangle1645{
    /* Layout Properties */
margin-top: -95.08px;
margin-left: 740px;
width: 600px;
height: 117px;
/* UI Properties */
background: transparent url('img/Rectangle 1645.png') 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
}

.coding{
    /* Layout Properties */
margin-top: -91.64px;
margin-left: 762px;
width: 52px;
height: 50px;
/* UI Properties */
background: transparent url('img/coding (2).png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1646{
    /* Layout Properties */
margin-top: 63px;
margin-left: 100px;
width: 600px;
height: 117px;
/* UI Properties */
background: transparent url('img/Rectangle 1646.png') 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
}

.developer{
    /* Layout Properties */
margin-top: -86.13px;
margin-left: 123px;
width: 55px;
height: 55px;
/* UI Properties */
background: transparent url('img/developer (1).png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1647{
    /* Layout Properties */
margin-top: -86px;
margin-left: 740px;
width: 600px;
height: 117px;
/* UI Properties */
background: transparent url('img/Rectangle 1647.png') 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
}

.Group13091{
    /* Layout Properties */
margin-top: -86.13px;
margin-left: 762px;
width: 55px;
height: 56px;
/* UI Properties */
background: transparent url('img/Group 13091.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.rectangle1648{
    /* Layout Properties */
margin-top: 63px;
margin-left: 100px;
width: 600px;
height: 117px;
/* UI Properties */
background: transparent url('img/Rectangle 1648.png') 0% 0% no-repeat padding-box;
border-radius: 8px;
opacity: 1;
}

.expert{
    /* Layout Properties */
margin-top: -86.13px;
margin-left: 123px;
width: 52px;
height: 55px;
/* UI Properties */
background: transparent url('img/expert (3).png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Group12843{
   /* Layout Properties */
margin-top: 200px;
margin-left: 50px;
width: 1339px;
height: 400px;
/* UI Properties */
background: transparent url('img/Group 12843.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group12247{
margin-top: 25px;
margin-left: 80.83px;
width: 380px;
height: 95px;
background: transparent url('img/Group 12247.png') -10% -10% no-repeat padding-box;
object-fit: scale-down;
opacity: 1;
}

.Rectangle1616{
margin-top: 55px;
margin-left: 120px;
width: 380px;
height: 400px;
background: transparent url('img/Rectangle 1616.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.ReactLogo{
margin-top: -355.48px;
margin-left: 145px;
width: 153px;
height: 72px;
background: transparent url('img/React-logo.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1618{
margin-top: -395px;
margin-left: 530px;
width: 380px;
height: 400px;
background: transparent url('img/Rectangle 1618.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.storybookLogo{
margin-top: -340.48px;
margin-left: 557px;
width: 250px;
height: 50px;
background: transparent url('img/storybook-logo.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1617{
margin-top: -336px;
margin-left: 940px;
width: 380px;
height: 400px;
background: transparent url('img/Rectangle 1617.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group13096{
margin-top: -365.96px;
margin-left: 965px;
width: 42px;
height: 72px;
background: transparent url('img/Group 13096.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle16172{
margin-top: 51.28px;
margin-left: 325px;
width: 380px;
height: 380px;
background: transparent url('img/Rectangle 1617.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.logo1{
margin-top: -358.48px;
margin-left: 350px;
width: 84px;
height: 80px;
background: transparent url('img/logo.png') 0% 0% no-repeat padding-box;
opacity: 1;

}

.Rectangle1620{
/* Layout Properties */
margin-top: -291.47px;
margin-left: 735px;
width: 380px;
height: 380px;
background: transparent url('img/Rectangle 1620.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.G371376{
margin-top: -358.48px;
margin-left: 760px;
width: 104px;
height: 73px;
background: transparent url('img/371376.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1650{
margin-top: 366.34px;
margin-left: 0px;
width: 1440px;
height: 1943px;
background: transparent url('img/Rectangle 1650.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Path11948{
margin-top: -2143px;
margin-left: 50px;
width: 1339px;
height: 400px;
background: transparent url('img/Path 11948.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group122478{
margin-top: -153px;
margin-left: 78.67px;
width: 265px;
height: 195px;
background: transparent url('img/Group 122478.png') 0% 0% no-repeat padding-box;
opacity: 1;
size: 50% ;
}
.Group139{
margin-top: -50px;
margin-left: 50px;
width: 265px;
height: 195px;
size: 100%;
background: transparent url('img/Mask Group 139.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group140{
margin-top: -430px;
margin-left: 842px;
width: 523px;
height: 400px;
background: transparent url('img/Mask Group 140.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1632{
margin-top: 55.05px;
margin-left: 120px;
width: 380px;
height: 338px;
background: transparent url('img/Rectangle 1632.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Atom{
margin-top: -313.1px;
margin-left: 145px;
width: 63px;
height: 70px;
background: transparent url('img/atom.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1630{
margin-top: -253.08px;
margin-left: 530px;
width: 380px;
height: 338px;
background: transparent url('img/Rectangle 1630.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.webD{
margin-top: -313.1px;
margin-left: 555px;
width: 71px;
height: 70px;
background: transparent url('img/web-development (12).svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1631{
margin-top: -253.08px;
margin-left: 940px;
width: 380px;
height: 338px;
background: transparent url('img/Rectangle 1631.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.passion{
margin-top: -313.1px;
margin-left: 965px;
width: 70px;
height: 70px;
background: transparent url('img/passion.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.one{
margin-top: -91.64px;
margin-left: 145px;
width: 17px;
height: 55px;
background: transparent url('img/1.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.newContent19{
margin-top: -68.64px;
margin-left: 189px;
width: 476px;
height: 71px;
text-align: left;
font: normal normal normal 16px/26px Montserrat, sans-serif;
letter-spacing: 0.32px;
color: #101819;
opacity: 1;
}

.two{
margin-top: -91.64px;
margin-left: 765px;
width: 24px;
height: 55px;
background: transparent url('img/2.png') 0% 0% no-repeat padding-box;
opacity: 1
}

.Five{
/* Layout Properties */
margin-top: -86.13px;
margin-left: 145px;
width: 25px;
height: 55px;
background: transparent url('img/5.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group12247_2{
margin-top: -299.6px;
margin-left: 196px;
width: 64px;
height: 64px;
background: transparent url('img/Group 12247.svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.LaptopImg{
margin-top: -190.6px;
margin-left: 29.11px;
width: 600px;
height: 403px;
background: transparent url('img/Group 13111.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.path12271{
margin-top: 182px;
margin-left: 51px;
width: 1339px;
height: 400px;
background: transparent url('img/Path 12271.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Group138{
margin-top: 2px;
margin-left: 50px;
width: 170px;
height: 175px;
background: transparent url('img/Mask Group 138.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group122473{
margin-top: -165px;
margin-left: 80.5px;
width: 248px;
height: 90px;
background: transparent url('img/Group 122473.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group12696{
margin-top: -290.43px;
margin-left: 949px;
width: 365px;
height: 319px;
background: transparent url('img/Group 12696.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group137{
margin-top: -350px;
margin-left: 715px;
width: 113px;
height: 114px;
background: transparent url('img/Mask Group 137.png') 0% 0% no-repeat padding-box;
opacity: 0.90;
}

.Rectangle1310{
margin-top: 55.83px;
margin-left: 130px;
width: 1180px;
height: 79px;
background: transparent url('img/Rectangle 1310.png') 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}

.Path12469{
margin-top: -50px;
margin-left: 1241px;
width: 59px;
height: 59px;
background: transparent url('img/Path 12469.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group3981{
margin-top: -40px;
margin-left: 1258px;
width: 25px;
height: 25px;
background: transparent url('img/Group 3981.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Path12372{
margin-top: 200px;
margin-left: 50px;
width: 1340px;
height: 480px;
background: transparent url('img/Path 12372.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group141{
margin-top: -480px;
margin-left: 50px;
width: 1340px;
height: 480px;
background: transparent url('img/Mask Group 141.png') 0% 0% no-repeat padding-box;
opacity: 0.40;
}

.G12476{
margin-top: 30.55px;
margin-left: 618px;
width: 250px;
height: 90px;
background: transparent url('img/Group 12476.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.table3{
margin-top: 0px;
margin-left: 120px;
width: 64px;
height: 65px;
background: transparent url('img/surface1.png') 0% 0% no-repeat padding-box;
opacity: 1;

}
.coding2{
margin-top: 70.4px;
margin-left: 246px;
width: 68px;
height: 66px;
background: transparent url('img/coding (2).svg') 0% 0% no-repeat padding-box;
opacity: 1;
}
.quality{
margin-top: 70.4px;
margin-left: 130px;
width: 65px;
height: 65px;
background: transparent url('img/quality (4).svg') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Headphone{
margin-top: 70.4px;
margin-left: 138px;
width: 58px;
height: 66px;
background: transparent url('img/headphones (1).png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.table4{
margin-top: 0px;
margin-left: 343px;
width: 64px;
height: 65px;
background: transparent url('img/surface1.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.vector{
margin-top: 0px;
margin-left: 137px;
width: 65px;
height: 65px;
background: transparent url('img/vector (1).png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.quality1{
margin-top: 0px;
margin-left: 124px;
width: 65px;
height: 65px;
background: transparent url('img/quality (4).png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Rectangle1579{
margin-top: 150.27px;
margin-left: 0px;
width: 1440px;
height: 1389px;
background: transparent url('img/Rectangle 1579.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Rectangle1577{
margin-top: 55.32px;
margin-left: 530px;
width: 380px;
height: 75px;
background: transparent url('img/Rectangle 1577.png') 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}
.Rectangle1578{
margin-top: -75px;
margin-left: 530px;
width: 191px;
height: 75px;
background: transparent url('img/Rectangle 1578.png') 0% 0% no-repeat padding-box;
border-radius: 10px 0px 0px 10px;
opacity: 1;
}

.Group12753{
margin-top: -54.88px;
margin-left: 577px;
width: 96px;
height: 35px;
background: transparent url('img/Group 12753.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group12752{
margin-top: -34.88px;
margin-left: 768px;
width: 98px;
height: 35px;
background: transparent url('img/Group 12752.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Rectangle1335{
margin-top: 58px;
margin-left: 100px;
width: 388px;
height: 433px;
background: transparent url('img/Rectangle 1335.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group11312{
margin-top: -413.12px;
margin-left: 124px;
width: 339px;
height: 146px;
background: transparent url('img/Group 11312.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Group12756{
margin-top: -408.52px;
margin-left: 526px;
width: 388px;
height: 433px;
background: transparent url('img/Group 12756.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1581{
margin-top: -433px;
margin-left: 952px;
width: 388px;
height: 433px;
background: transparent url('img/Rectangle 1581.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group11317{
margin-top: -414.11px;
margin-left: 1003px;
width: 285px;
height: 136px;
background: transparent url('img/Group 11317.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Rectangle1582{
margin-top: 39.02px;
margin-left: 100px;
width: 388px;
height: 433px;
background: transparent url('img/Rectangle 1582.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group12302{
margin-top: -453px;
margin-left: 100px;
width: 388px;
height: 185px;
background: transparent url('img/Group 12302.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Rectangle1583{
margin-top: -407.52px;
margin-left: 526px;
width: 388px;
height: 433px;
background: transparent url('img/Rectangle 1583.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Group12303{
margin-top: -405.43px;
margin-left: 554px;
width: 333px;
height: 125px;
background: transparent url('img/Group 12303.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1584{
margin-top: -407.52px;
margin-left: 952px;
width: 388px;
height: 433px;
background: transparent url('img/Rectangle 1584.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Group12304{
margin-top: -407.27px;
margin-left: 999px;
width: 294px;
height: 111px;
background: transparent url('img/Group 12304.png') 0% 0% no-repeat padding-box;
opacity: 1;
}.Group13068{
margin-top: 160.06px;
margin-left: 0px;
width: 1440px;
height: 818px;
background: transparent url('img/Group 13068.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Rectangle834{
margin-top: -718px;
margin-left: 31px;
width: 686px;
height: 718px;
background: transparent url('img/Rectangle 834.png') 0% 0% no-repeat padding-box;
border-radius: 11px;
opacity: 1;
}.square1{
margin-top: 18.85px;
margin-left: 60px;
width: 23px;
height: 23px;
background: transparent url('img/Path 5454.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.square2{
margin-top: -23px;
margin-left: 159px;
width: 23px;
height: 23px;
background: transparent url('img/Path 5454.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.square3{
margin-top: -23px;
margin-left: 372px;
width: 23px;
height: 23px;
background: transparent url('img/Path 5454.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.square4{
margin-top: -23px;
margin-left: 489px;
width: 23px;
height: 23px;
background: transparent url('img/Path 5454.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.square5{
margin-top: 15.85px;
margin-left: 60px;
width: 23px;
height: 23px;
background: transparent url('img/Path 5454.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1589{
margin-top: 44.92px;
margin-left: 60px;
width: 638px;
height: 63px;
background: transparent url('img/Rectangle 1589.png') 0% 0% no-repeat padding-box;
border: 1px dashed #0F4DC2;
border-radius: 3px;
opacity: 1;

}

.Group13048{
margin-top: -24px;
margin-left: 387px;
width: 120px;
height: 30px;
background: transparent url('img/Group 13048.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Rectangle1590{
margin-top: 44.92px;
margin-left: 60px;
width: 638px;
height: 158px;
background: transparent url('img/Rectangle 1590.png') 0% 0% no-repeat padding-box;
border: 1px solid #D1D1D1;
border-radius: 3px;
opacity: 1;
}.Rectangle1592{
margin-top: 147.79px;
margin-left: 60px;
width: 190px;
height: 36px;
background: transparent url('img/Rectangle 1592.png') 0% 0% no-repeat padding-box;
border-radius: 3px;
opacity: 1;
}

.Group13071{
margin-top: -594.5px;
margin-left: 843px;
width: 170px;
height: 100px;
background: transparent url('img/Group 13071.png') 200% 0% no-repeat padding-box;
opacity: 1;
}
.Group13073{
margin-top: -169.5px;
margin-left: 1118px;
width: 200px;
height: 90px;
background: transparent url('img/Group 13073.png') 50% 0% no-repeat padding-box;
opacity: 1;
}
.Group13074{
margin-top: 0px;
margin-left: 1247px;
width: 160px;
height: 100px;
background: transparent url('img/Group 13074.png') 100% 0% no-repeat padding-box;
opacity: 1;
}
.Group15{
margin-top: -66px;
margin-left: 1275px;
width: 34px;
height: 34px;
background: transparent url('img/Mask Group 15.png') 0% 0% no-repeat padding-box;
opacity: 1;
}
.Group13077{
margin-top: -48.12px;
margin-left: 1311px;
width: 88px;
height: 35px;
background: transparent url('img/Group 13077.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.Group12294{
margin-top: -549.07px;
margin-left: 148px;
width: 159px;
height: 69px;
background: transparent url('img/Group 12294.png') 0% 0% no-repeat padding-box;
opacity: 1;
}.Group14243{
margin-top: 26.34px;
margin-left: 148px;
width: 66px;
height: 66px;
background: transparent url('img/Group 14243.png') 50% 30% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 26px;
opacity: 1;
}
.Group14244{
/* Layout Properties */
margin-top: -66px;
margin-left: 232px;
width: 66px;
height: 66px;
/* UI Properties */
background: transparent url('img/Group 14244@2x.png') 50% 30% no-repeat padding-box;
opacity: 1;
}
.Group14245{
margin-top: -66px;
margin-left: 315px;
width: 66px;
height: 66px;
background: transparent url('img/Group 14245.png') 50% 30% no-repeat padding-box;
border-radius: 18px;
opacity: 1;
}
.Group14242{
margin-top: -66px;
margin-left: 399px;
width: 66px;
height: 66px;
background: transparent url('img/Group 14242@2x.png') 50% 30% no-repeat padding-box;
opacity: 1;
}
.Group12296{
margin-top: -66px;
margin-left: 483px;
width: 66px;
height: 66px;
background: transparent url('img/BE.png') 50% 30% no-repeat padding-box;
opacity: 1;
}